body {
  padding-top: 100px;
}

.glyphicon {
  cursor: pointer;
}

td {
  vertical-align: middle !important;
}

.sort {
  vertical-align: middle;
}

.active {
  color: #4FA84F;
}

.errorPanel {
  margin-top: 20px;
}
