<nav class="navbar navbar-default navbar-fixed-top" ng-controller="navCtrl" ng-show="getRoute() !== '/login'">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">App</span>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-class="{active: '/home' === getRoute()}"><a href="" ng-click="goto('/home')">Home</a>
        </li>
        <li ng-class="{active: '/products' === getRoute()}"><a href="" ng-click="goto('/products')">Products</a>
        </li>
        <li ng-class="{active: '/users' === getRoute()}"><a href="" ng-click="goto('/users')">Users</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-show="userIsLoggedIn"><a href="" ng-click="logout()">Logout</a></li>
      </ul>
      <p class="navbar-text navbar-right">Signed in as {{username}}</p>
    </div>
  </div>
</nav>
